<h1 class= "text-secondary">投稿詳細</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class= "container">
  <div class = "row">
    <div class= "col-md-4 offset-4">

      <h4 class= "text-secondary">ニックネーム</h4>
      <p><%= link_to @post.user.nick_name, "/users/#{@post.user_id}", class:"link" %></p>

      <h4 class= "text-secondary">タイトル</h4>
      <p><%= @post.title %></p>

      <h4 class= "text-secondary">本文</h4>
      <p><%= @post.discription %></p>
      <button class = "btn btn-outline-success">
        <%= link_to "編集", edit_post_path(@post.id), class:"link" %>
      </button>

      <button class = "btn btn-outline-danger">
        <%= link_to "削除", post_path(@post.id), class:"link", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </button>

      <div>
        <p class= "text-secondary">コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <%= comment.user.nick_name %>
          <%= comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d') %>
          <div>
            <%= comment.comment %>
          </div>
          <% if comment.user == current_user %>
          <button class = "btn btn-outline-danger">
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          </button>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment,class:"form-control", placeholder: "コメントをここに" %>
          <%= f.submit "送信する" ,class:"btn btn-outline-success btn-block" %>
        <% end %>
      </div>

      <% if @post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorite_path(@post), class:"link", method: :delete do %>
              ♥<%= @post.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorite_path(@post), class:"link", method: :post do %>
              ♡<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
    </div>
  </div>
</div>