<%= form_with model: [:admin, genre], local: true do |f| %>
	<div class= "text-secondary">
	  <%= f.label :"ジャンル名" %>
	</div>
	<%= f.text_field :name, placeholder: "ジャンル名" %>
	<% if f.object.new_record? %>
		  <%= f.submit "新規登録", class:"btn btn-outline-success" %>
	<% else %>
		  <%= f.submit "変更を保存", class:"btn btn-outline-success" %>
	<% end %>

<% end %>