<h1 class= "text-secondary">ユーザーページ</h1>
<div>
  <h3 class= "text-secondary"><%= @user.nick_name %></h3>
</div>

<div>
  <h3 class= "text-secondary"><%= @user.introduction %></h3>
</div>

<button class = "btn btn-outline-success">
  <%= link_to "編集", edit_user_path(current_user) %>
</button>
<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>

 <p class= "text-secondary">タイトル</p>
 <span>
   <%= link_to post.title, post_path(post.id) %>
 </span>
 <p class= "text-secondary"><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
<% end %>